html {
  overflow-x: hidden;
}

header {
  display: flex;
  position: relative;
  align-items: center;
  height: 100px;
  background-color: rgb(207, 207, 207);
  width: 100%;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.menu {
  display: none;
  cursor: pointer;
  background-color: rgb(222, 222, 222);
  padding: 10px;
  border-radius: 10px;
}

.button-container {
  gap: 15px;
  display: flex;
  padding: 10px;
  margin-right: 15px;
}

.button {
  padding: 10px;
  border-radius: 10%;
  scale: 1.2;
}

.title2 {
  margin-left: 20px;
}

.newProducts {
  display: grid;
  justify-self: center;
  align-items: center;
  width: 75%;
  margin-top: 100px;
}

.newProduct-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  overflow: hidden;
}

.highPicture {
  grid-row: span 2;
  grid-column: 1;
}

.lowPicture {
  grid-column: 2;
}

.highPicture img,
.lowPicture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.highPicture img:hover,
.lowPicture img:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 0;
  border-radius: 50px;
}

.category-box {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
}

.category-box::-webkit-scrollbar{
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
}

  .category-box::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

.cat1 {
  width: 10%;
  min-width: 200px;
  height: 150px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 10px;
  text-decoration: underline;
}

.carousel {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.categories {
  margin: 50px;
  margin-top: 200px;
  background-color: rgb(131, 128, 128);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.nav-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.news {
  margin: 50px;
  margin-top: 150px;
  background-color: rgb(131, 128, 128);
  border-radius: 15px;
  overflow: hidden;
}

.mail-container {
  margin: 50px;
  padding: 40px;
}

form {
  width: 100%;
}

.submit {
  padding: 10px;
  border-radius: 10%;
  border: none;
  font-weight: bold;
}

.submit:active {
  scale: 0.95;
}

.email {
  width: 45%;
  padding: 10px;
}

.title-for-main {
  margin: 10px;
}

/* product.html*/

.products {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
}

.image-container {
  display: none;
  justify-content: center;
  margin-top: 100px;
}

#pants:target,
#shirt:target,
#hoodie:target,
#jacket:target,
#all:target,
body:not(:has(:target)) #all {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.image {
  border-radius: 10%;
  width: 100%;
  margin-top: 40px;
}

.image:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(78, 78, 78, 0.5) 0 0 10px 0;
}

.category-buttons {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 40px;
}

.filterButton {
  background-color: rgba(165, 126, 126, 0.1);
  padding: 10px;
  border-radius: 10%;
  scale: 1.2;
  box-shadow: rgb(188, 188, 188) 0 0 10px 0;
}

.filterButton:hover {
  scale: 1.3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px 0;
}

/* productDetails.html*/

.details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px;
  padding: 10px;
}

.product-carousel {
  display: flex;
  justify-content: center;
}

.product-image {
  width: 100%;
  max-width: 100%;
  border-radius: 10%;
  object-fit: contain;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.des-text {
  margin-top: -10px;
  background-color: #b1b1b1;
  padding: 20px;
  border-radius: 15px;
}

.size {
  background-color: #b1b1b1;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cart,
.size {
  width: 100%;
  max-width: 100px;
}

.cart {
  background-color: #6f7779;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.cart:active {
  background-color: #ffffff;
  transform: scale(0.9);
}

/*responsive things*/

@media screen and (max-width: 1200px) {
  .category-box {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .button-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: rgba(210, 210, 210, 1);
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
  }

  .button-container.active {
    display: flex;
  }

  .menu {
    display: block;
  }

  .filterButton {
    background-color: rgba(165, 126, 126, 0.1);
    padding: 10px;
    border-radius: 10%;
    scale: 1;
    box-shadow: rgb(188, 188, 188) 0 0 10px 0;
  }

  .filterButton:hover {
    scale: 1.1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 20px 0;
  }

  .category-buttons {
    display: flex;
    align-self: center;
    justify-self: center;
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .newProduct-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .image:hover {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(78, 78, 78, 0.5) 0 0 10px 0;
  }
}

@media screen and (max-width: 570px) {
  .newProducts,
  .categories {
    margin: 20px auto;        
    width: 90%;              
    max-width: 570px;
    
  }

  .newProducts {
    margin-top: 30px;
  }

  .newProduct-container{
    margin-top: 30px;
  }

  .news {
    margin: 20px auto;   
    padding: 0;          
    width: 90%;           
    max-width: 570px;     
  }

  .categories{
    margin-top: 40px;
    width: 80%;
  }

  .category-box {
    height: 220px;
  }

  .cat1 {
    min-width: 100px;
    height: 80px;
  }

  .mail-container {
    padding-top: 10px;
    margin: 0;
  }

  .filterButton {
    background-color: rgba(165, 126, 126, 0.1);
    padding: 10px;
    border-radius: 10%;
    scale: 1;
    box-shadow: none;
    display: flex;
    justify-self: center;
  }

  .filterButton:hover {
    scale: 1;
    -webkit-transition: none;
    transition: none;
    box-shadow: none;
  }

  .category-buttons {
    justify-content: center;
    width: 90%;           
    max-width: 570px;  
  }

  #pants:target,
  #shirt:target,
  #hoodie:target,
  #jacket:target,
  #all:target,
  body:not(:has(:target)) #all {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 10px;
    margin-top: -10px;
  }

  .image {
    border-radius: 10%;
    width: 100%;
    margin-top: 40px;
  }

  .image:hover {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
    box-shadow: none;
  }

  .submit {
    display: flex;
    align-self: center;
    margin-top: 10px;
  }

  .email {
    width: 100%;
  }

  .highPicture img:hover,
  .lowPicture img:hover {
    -webkit-transition: none;
    transition: none;
    box-shadow: none;
    border-radius: 0px;
  }

  #cart-items div {
    gap: 0;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  .description {
    margin-top: -50px;
  }

  .pay{
    font-weight: bold;
    font-size:15px;
  }

}

/*Contact.html*/

.aboutUs,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutus-back,
.cont-backgr {
  background-color: #dfdfdf;
  width: 80%;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AboutUsText {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.input + br,
.text + br {
  clear: both;
}

.label {
  width: 200px;
  height: 20px;
  display: block;
  margin: 10px;
  float: left;
}

.input {
  width: 40%;
  padding: 5px;
}

#comment {
  width: 80%;
  height: 200px;
}

.input,
#comment {
  border-radius: 10px;
  border: none;
  margin-left: 10px;
}

#submit {
  float: right;
  width: 20%;
  margin: 10px;
}

#submit:active {
  scale: 0.95;
}

/*cart*/

.empty {
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 1.5em;
  margin-top: 100px;
}

.pay {
  display: flex;
  justify-self: flex-end;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  cursor: pointer;
}

.pay:active {
  scale: 0.95;
}

.remove-btn {
  padding: 3px;
  border: none;
  background-color: rgb(151, 151, 151);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.remove-btn:active {
  scale: 0.95;
}

.cart-main {
  padding: 10px;
  margin: 10px;
}

#cart-items {
  margin-top: 20px;
}

#cart-items div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#cart-items img {
  width: 100px;
  border-radius: 8px;
}
